.color-button {
  background-color: #5D576B;
  color: #E1DCED;
  border-radius: 0.8rem;
  cursor: pointer;
  border: 3.5px solid #5D576B;
  margin: 1rem 1rem;
  font-size: 20pt;
  padding: 0 0.5rem;
}