.color-button {
  background-color: #F26D70;
  color: #FAE4DA;
  border-radius: 0.8rem;
  cursor: pointer;
  border: 3.5px solid #F26D70;
  margin: 1rem 1rem;
  font-size: 20pt;
  padding: 0 0.5rem;
}