.p-7 {
  width: 100%
}
.inspo-button {
    background-color: #E1DCED;
    color: #FC786D;
    border-radius: 0.8rem;
    cursor: pointer;
    border: 3.5px solid #FEF1E4;
    margin: 0 1rem;
}
.inspo-button-2 {
  background-color: #FAE4DA;
  color: #FC786D;
  border-radius: 0.8rem;
  cursor: pointer;
  border: 3.5px solid #FAE4DA;
  margin: 0 1rem;
}

.header-1-text {
    color: #5A3957;
    font-size: 20pt;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;

}

.header-2-text {   color:#5A3957/* #5D576B*/;
    font-size: 18pt;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
}

.info-text {
    color: #5A3957;
    font-size: 14pt;

}

.inspo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    margin: 0 0;
    max-width: 100%;
    align-items: stretch;
}

.inspo-block {
    background-color:#f8f1e9 /*#f1e2f3 /*#E1DCED*/;
    border-radius: 15pt;
    margin-bottom: 16px;
    padding: 12px;
    width: "max-w-[296px]";
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inspo-block-2 {
  background-color:#FC786D /*#f1e2f3 /*#E1DCED*/;
  border-radius: 15pt;
  margin-bottom: 16px;
  padding: 12px;
  width: "max-w-[296px]";
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.delete-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAE4DA;/*rgb(229, 231, 235)*/;
    border-radius: 9999px;
    z-index: 10;
}

.delete-button:hover {
    background-color:#F1D0C0; /*rgb(209, 213, 219);*/
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.main {
  flex-grow: 1;
}